.container {
    background-color: #fff;
    border-radius: 3px;
    padding: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-header {
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    padding-top: 1%;
    margin-bottom: 1%;
}

body,
html,
.App,
#root,
.outer {
    background-color: #e0e6e0;
    color: #2e2313;
    font-weight: 600;
    width: 100%;
    height: 100%;
}