* {
    margin: 0;
    padding: 0;
    /* font-family: ; */
}

.section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    background-image: url(./images/background-compressed2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top: solid 2px #2e2313;
}

.section1 h1 {
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px 5px #2e2313;
}

.searchForm {
    display: flex;
    justify-content: space-between;
    width: 30%;
    box-shadow: #2e2313 0px 5px 15px;
    
}

.searchBtn {
    background: #2e2313;
    border: #2e2313;
    border-radius: 2px;
}

.searchBtn :hover {
    background: black;
}

.section2 {
    background: rgb(185, 147, 92);
    background: radial-gradient( circle, rgba(185, 147, 92, 1) 0%, rgba(112, 68, 26, 1) 80%, rgba(46, 35, 19, 1) 100%);
    border-top: solid 2px #2e2313;
    border-bottom: solid 2px #2e2313;
}

.section2 h2 {
    color: white;
    text-shadow: 3px 3px 5px #2e2313;
    text-align: center;
    padding-top: 2%;
}

.aboutCards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* flex-wrap:wrap; */
    padding: 1%;
}

.aboutCard {
    padding: 5%;
    margin: 5%;
    border-top: solid 2px #2e2313;
    border-bottom: solid 2px #2e2313;
    border-left: none;
    border-right: none;
    border-radius: 100%;
    background: transparent;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 5px #2e2313;
}

.section3 h2 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
    color: #2e2313;
    text-shadow: 1px 1px 5px grey;
}

.featuredCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.featuredCard {
    max-width: 300px;
    padding: 1%;
    margin: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: #2e2313 0px 5px 15px;
}

@media screen and (max-width: 950px) {
    .section1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
        background-image: url(./images/background-compressed2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .aboutCards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 1%;
    }
    .aboutCard {
        margin: 2%;
    }
}

@media screen and (max-width: 840px) {
    .searchForm {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
}