* {
  margin: 0;
  padding: 0;
 
}

.titlePlacement {


}

.backgroundColor {
  background: #e0e6e0;;
}
.linkPlacement {

display: flex;
justify-content: flex-end;
}
.appTitle {
  text-decoration: none;
  color: #2e2313;
  text-shadow: 1px 1px 5px grey;
  font-size: 300%; 
  padding-left: 20px;
}

/* .appTitle :hover {
  text-decoration: none;
  color:white;
} */
.loginLinks {
  padding-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 100%;
}

.navPopOut {
  background: #e0e6e0;
  opacity: 0.9;
}

.popOutLinks {
  color: #2e2313;
  text-decoration: none;
}
.footer {
  display: flex;
justify-content: center;
align-items: center;
padding: 2%;
color: #2e2313;
background: #e0e6e0;
 
}

.footerSpacing {

 
}

.icon {
 
 margin-left: 10px;
}

@media screen and (max-width: 400px) {
 
    .loginLinks {
      padding-left: 20px;
      text-decoration: none;
      color: black;
      font-size: 90%;
    }
    .footer{
      align-items: center;
    }
}